<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>User board</h1>
<%= line_chart User.group_by_month(:created_at, time_zone: "Europe/Paris").count %>

<h1>Plans board</h1>
<%= pie_chart Plan.group(:name).count %>
