<h1>Plans</h1>

<% if @plans.empty? %>
  There is no plans to display
<% else %>
  <ul>
  <% for @plan in @plans %>
    <li>
      <%= @plan.name %>
      <%= link_to "Show", @plan %>
      <%= link_to "Edit", edit_plan_url(@plan) %>
      <%= link_to "Delete", @plan, method: :delete %>
    </li>
  <% end %>
  <ul>
<% end %>